@model ImageContestSystem.Web.Models.ViewModels.ContestViewModel

@{
    ViewBag.Title = "Add contest";
}

@using (@Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Title)</p>
            @Html.EditorFor(m => m.Title)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.Description)</p>
            @Html.EditorFor(m => m.Description)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.DeadlineStrategy)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.DeadlineStrategy)</p>
            @Html.EnumDropDownListFor(m => m.DeadlineStrategy, new { @class = "form-control", id = "deadline-strategy" })
        </div>
    </div>

    <div class="form-group row" id="deadline-input">
        <div class="col-md-1">
            @Html.LabelFor(m => m.ClosesOn)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.ClosesOn)</p>
            @Html.EditorFor(m => m.ClosesOn)
        </div>
    </div>

    <div class="form-group row" id="number-of-participants" style="display: none">
        <div class="col-md-1">
            @Html.LabelFor(m => m.NumberOfAllowedParticipants)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.NumberOfAllowedParticipants)</p>
            @Html.EditorFor(m => m.NumberOfAllowedParticipants)
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.ParticipationStrategy)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.ParticipationStrategy)</p>
            @Html.EnumDropDownListFor(m => m.ParticipationStrategy, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.VotingStrategy)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.VotingStrategy)</p>
            @Html.EnumDropDownListFor(m => m.VotingStrategy, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-1">
            @Html.LabelFor(m => m.RewardStrategy)
        </div>
        <div class="col-md-11">
            <p class="text-danger">@Html.ValidationMessageFor(m => m.RewardStrategy)</p>
            @Html.EnumDropDownListFor(m => m.RewardStrategy, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Create" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}