@model ImageContestSystem.Web.Models.ViewModels.ContestViewModel

@{
    ViewBag.Title = "Contests";
}

<h2>Contests</h2>

@if (TempData["SuccessMessage"] != null)
{
    <br />
    <p class="alert alert-success">@TempData["SuccessMessage"]</p>
}

<div class="well well-bg">
    <div class="well well-sm">Title: @Model.Title</div>
    <div class="well well-sm">Description: @Model.Description</div>
    <div class="well well-sm">Count of participants: @Model.CountOfParticipants</div>
    <div class="well well-sm">Number of allowed participants: @Model.NumberOfAllowedParticipants</div>
    <div class="well well-sm">Closes on: @Model.ClosesOn</div>
    <div class="form-group">Participation Strategy: @Model.ParticipationStrategy</div>
    @if (Model.ParticipationStrategy == 0 && !Model.HasParticipated)
    {
        @Html.ActionLink("Participate", "ApplyToContest", "User", new { Id = Model.Id }, new { @class = "btn btn-primary", title = "Participate" })
    }
</div>

<hr />