@using ImageContestSystem.Web.Models.ViewModels
@model IEnumerable<ContestViewModel>
@{
    ViewBag.Title = "My contests";
}

<div class="jumbotron">
    <h1>Image contest system</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2>My Contests</h2>
                @foreach (var contest in Model)
                {
                    <div class="well well-bg" style="border: 1px solid gray">
                        <h4>@Html.ActionLink(contest.Title, "View", "Contest", new { id = contest.Id }, null)</h4>
                        <div class="well well-bg" style="border: 1px solid gray">
                            <div><strong>Finishes: </strong>@contest.ClosesOn</div>
                            <div>
                                <strong>Photos: </strong>No photos
                            </div>
                        </div>

                        @if (contest.IsDismissed)
                        {
                            <p style="color: red">This contest is dismissed.</p>
                        }
                        else
                        {
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#inviteUsers" data-contest-id="@contest.Id">Invite Users</button>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#editContest" data-contest-id="@contest.Id">Edit</button>
                            @Html.ActionLink("Dismiss", "Dismiss", "Contest", new { Id = contest.Id }, new { @class = "btn btn-info btn-sm" })
                        }

                        <div id="inviteUsers" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                @Html.Partial("_InviteUsersPartial")
                            </div>
                        </div>

                        <div id="editContest" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                @Html.Partial("_EditContest", new EditContestViewModel())
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}